<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Operation</title>
</head>
<body>
<h1>Edit Order</h1>
<form method="POST" action="/<%= order._id %>?_method=PUT">
  Order ID: <input name="orderID" value="<%= order.orderID %>" required><br>
  Ship Name: <input name="shipName" value="<%= order.shipName %>" required><br>
  Freight: <input name="freight" value="<%= order.freight %>" required><br>
  <button type="submit">Update</button>
</form>

</body>
</html>